/* global */

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* site */

body {
    font-family: "PT Sans";
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
}

.main-header {
    min-height: 56px;
}

.logo {
    width: 120px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-60%);
    z-index: 1;
}

.main-navigation {
    min-height: 56px;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

.site-navigation {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 1100px;
    margin: 0px 70px;
    align-items: center;
    min-height: 56px;
}

.site-navigation li {
    margin: 0px 75px;
}

.site-navigation li:nth-child(1) {
    margin-right: 75px;
    margin-left: 0px;
}

.site-navigation li:nth-child(2) {
    margin-right: 195px;
    margin-left: 75px;
}

.site-navigation li:nth-child(3) {
    margin-right: 75px;
    margin-left: 195px;
}

.site-navigation li:last-child {
    margin-right: 0px;
    margin-left: 85px;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.site-navigation a.site-navigation-current {
    color: #766357;
}

.main-footer {
    background-color: #f9fbf6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px 18px 130px;
}

.social ul {
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
}

.social-icon {
    padding: 13px;
    background-color: #81b3d2;
    padding: 10px;
}

.footer-item.copyright img {
    width: 150px;
}

.footer-item.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

.copyright path:hover,
.copyright path:focus {
    fill: #82b4d2;
}

.copyright path:active {
    fill: #bdbbbc;
}

.social-icon:hover,
.social-icon:focus {
    background-color: #669ec0;
}

.social-icon:active {
    background-color: #5496bd;
}

.social-icon path:active {
    fill: #88b6d1;
}

/* ********************************* main page ************************************************** */

.intro h1 {
    font-size: 21px;
    font-weight: bold;
    width: 500px;
    margin: 63px auto 35px auto;
}

.sedona-welcome {
    background-image: url("../img/welcome-background.png");
    background-repeat: no-repeat;
    background-position-y: -55px;
    min-height: 508px;
    position: relative;
}

.sedona-welcome:after {
    content: "";
    background-image: url(../img/welcome-mask.svg);
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 60px;
}

.welcome-img {
    width: 455px;
    margin-top: 79px;
}

.container p {
    font-size: 14px;
}

.reason-item-big {
    display: flex;
    width: 100%;
}

.reason-item-big.with-features {
    flex-direction: column;
}

.description-wrapper {
    display: flex;
}

.reason-header {
    width: 150px;
    margin: 15px auto;
}

.reason-number {
    margin: 23px;
}

.reason-description {
    width: 300px;
    margin: 0px auto;
    line-height: 19px;
}

.reason-description.second {
    width: 400px;
}

.reason-item-big .description {
    background-color: #3d91c5;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    width: 400px;
    min-height: 216px;
    padding-top: 30px;
}

.reason-item-big img {
    width: 800px;
    height: 256px;
}

.features-list {
    display: flex;
    height: 330px;
    margin: 0px;
    padding: 0px;
}

.feature-item.house::before {
    position: absolute;
    top: 62px;
    left: 163px;
    text-align: center;
    background-image: url(../img/icon-house.svg);
    background-repeat: no-repeat;
    content: "";
    width: 75px;
    height: 72px;
}

.feature-item.burger::before {
    position: absolute;
    top: 62px;
    left: 161px;
    text-align: center;
    background-image: url(../img/icon-burger.svg);
    content: "";
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.feature-item.present::before {
    position: absolute;
    top: 55px;
    left: 161px;
    text-align: center;
    background-image: url(../img/icon-present.svg);
    content: "";
    background-repeat: no-repeat;
    width: 75px;
    height: 78px;
}

.features-list .feature-item {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding: 143px 60px 0px 50px;
    max-width: 400px;
}

.feature-item p {
    margin-top: 20px;
}

.reasons-list h2,
.feature-item h2 {
    font-weight: bold;
}

.reasons-list {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
}

.reason-item {
    padding-top: 30px;
    width: 400px;
    height: 225px;
    background-color: #eeeeee;
}

.booking {
    position: relative;
    padding-top: 13px;
}

.booking h2 {
    font-size: 30px;
    font-weight: 700;
}

.search-form {
    width: 570px;
    height: 400px;
}

.search-form label {
    font-weight: 700;
}

.popup-button {
    border: none;
    background-color: #766357;
    height: 85px;
    width: 570px;
    line-height: 85px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 33px;
    margin-bottom: 0px;
}

.popup-button:active {
    background-color: #604e43;
    color: #857871;
}

.popup-button:focus,
.popup-button:hover {
    background-color: #503e33;
}

/* ******************************************  popup  ******************************************** */

@keyframes open {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 400px;
        opacity: 1;
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.search-popup {
    width: 570px;
    left: 315px;
    background-color: #ffffff;
    position: absolute;
    display: none;
    justify-content: center;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.search-popup.popup-show {
    display: block;
    animation: open 0.7s ease-in 0s 1 forwards;
}

.search-popup.popup-error {
    animation: shake 0.6s;
}

.date {
    background: url('../img/icon-calendar.svg') no-repeat scroll 7px 7px;
    background-size: 20px;
    background-position-x: 310px;
    padding-left: 10px;
    padding-right: 40px;
}

.search-form .form-body {
    padding: 43px 55px 55px 55px;
}

.search-form input {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    text-transform: uppercase;
}

.search-form .form-item {
    margin: 0px;
    line-height: 40px;
}

.search-form button {
    background-color: #f2f2f2;
    border: none;
    color: gray;
}

.search-form input {
    border: none;
}

.search-form .search-button {
    width: 458px;
    min-height: 58px;
    margin-top: 26px;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
}

.search-form .search-button:focus,
.search-form .search-button:hover {
    background-color: #669ec0;
}

.search-form .search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.form-item label {
    padding-right: 16px;
}

.form-item input {
    width: 295px;
}

.form-item {
    padding: 12px 0px;
}

.counter {
    width: 115px;
    display: flex;
}

.persons-count-wrapper {
    display: flex;
}

.persons-count {
    display: flex;
    align-items: center;
}

.persons-count input {
    width: 60px;
    text-align: center;
}

.persons-count button {
    font-weight: 700;
    font-size: 21px;
}

.adults-label {
    padding-right: 38px;
}

.children-label {
    padding-left: 60px;
    padding-right: 25px;
}

/* ******************************************  catalog page  ******************************************** */

.catalog main {
    text-align: left;
}

.filter-form {
    background: url('../img/filter-background.png') no-repeat;
    min-height: 200px;
}

.hotels-list {
    padding: 0px;
    margin: 0px;
}

.hotel-item {
    display: flex;
    flex-direction: row;
    min-height: 90px;
    padding: 30px 73px;
    border-bottom: 1px solid;
    border-color: #e5e5e5;
    align-items: flex-end;
}

.hotel-item-description {
    padding-left: 30px;
}

.hotel-item.first {
    border-top: 1px solid;
    border-color: #e5e5e5;
}

.hotel-item-photo {
    width: 135px;
}

.hotel-item-description {
    width: 785px;
    text-align: left;
}

.hotel-item-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 95px;
}

.hotel-item img {
    width: 135px;
    height: 90px;
}

.hotel-price .price {
    margin-left: 40px;
}

.hotel-title a {
    font-size: 21px;
    font-weight: 700;
}

.hotel-link {
    padding: 7px 16px 9px 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.hotel-link.view-more {
    background-color: #81b3d2;
}

.hotel-link.view-more:active {
    background-color: #5496bd;
    color: #7aadcb;
}

.hotel-link.view-more:focus,
.hotel-link.view-more:hover {
    background-color: #669ec0;
}

.hotel-link.book {
    background-color: #766357;
}

.hotel-link.book:focus,
.hotel-link.book:hover {
    background-color: #604e43;
}

.hotel-link.book:active {
    background-color: #503e33;
    color: #857871;
}

.hotel-title a:focus,
.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:active {
    color: #b2b2b2;
}

.hotel-sort {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 73px;
}

.sort-list {
    display: flex;
    font-size: 12px;
    padding-left: 0px;
}

.item-count {
    font-weight: 800;
    font-size: 21px;
    margin-right: 51px;
}

.sort-title {
    font-weight: 700;
    font-size: 12px;
    margin-right: 24px;
}

.sort-actions {
    width: 800px;
    display: flex;
    align-items: center;
}

.sort-item {
    padding: 0px 16px;
}

.stars ul {
    display: flex;
}

.star {
    min-width: 19px;
    min-height: 19px;    
    background: url("../img/icon-star.svg");
    background-repeat: no-repeat;
    background-size: 19px;   
}

.rating {
    background-color: #f2f2f2;
    min-width: 85px;
    padding: 8px 15px;
    margin: 0px;
}

.filter-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 27px 71px 0px 60px;
    color: #ffffff;
}

.filter-options {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.filter-option {
    display: block;
    margin-bottom: 24px;
    margin-top: 20px;
}

.filter-options-set {
    width: 230px;
    padding: 0;
    margin: 0;
}

.filter-options fieldset {
    border: none;
}

.filter-options legend {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

.filter-options li {
    list-style: none;
}

.label-checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.label-checkbox input[type="checkbox"]+.checkbox-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.label-checkbox input[type="checkbox"]:checked+.checkbox-value {
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.label-checkbox input[type="checkbox"]:disabled+.checkbox-value {
    width: 27px;
    background-image: url("../img/checkbox-off-disabled.svg");
    background-repeat: no-repeat;
}

.label-checkbox input[type="checkbox"]:disabled:checked+.checkbox-value {
    width: 27px;
    background-image: url("../img/checkbox-on-disabled.svg");
    background-repeat: no-repeat;
}

.filter-range {
    width: 318px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 33px;
    margin-bottom: 19px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 62px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding-top: 7px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 33px 6px 35px;
    margin-right: 97px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
    color: #000000;
    background: #ffffff;
}

.sort-item a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
    color: #81b3d2
}

.sort-item a:active {
    color: #000000;
    text-decoration: none;
}

.sort-item.active a {
    color: #81b3d2;
    text-decoration: none;
}

.sorting-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #cacaca;
    padding: 0px;
    border-top: none;
    background: none;
}

.sorting-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #cacaca;
    padding: 0px;
    border-bottom: none;
    background: none;
}

.sorting-up:hover {
    border-bottom: 10px solid #231f20;
} 

.sorting-down:hover {
    border-top: 10px solid #231f20;
}

.sorting-up:focus, .sorting-up:active {
    border-bottom: 10px solid #81b3d2;
} 

.sorting-down:focus, .sorting-down:active {
    border-top: 10px solid #81b3d2;
}


